@font-face {
  font-family: "Fira Code";
  src: url(../Fonts/FiraCode-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  cursor: auto;
  box-sizing: border-box;
}

body {
  background-color: rgb(13, 27, 48);
  color: white;
  font-family: "Fira Code";
  text-align: center;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-size: 1em;
  padding: 10px 40px;
  border: none;
  border-radius: 100px;
  font-family: "Montserrat";
  font-weight: 600;
}

div.background {
  position: absolute;
  background-size: cover;
  z-index: -10;
  filter: blur(10px);
  transform: scale(1.06);
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 110%;
}

@media (min-aspect-ratio: 16/9) {
  .video {
    width: 110%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video {
    width: auto;
    height: 110%;
  }
}

.soft {
  border-radius: 10px;
  margin: 1.5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
  display: flex;
}

.content {
  width: 100%;
}

.center {
  position: absolute;
}
